In [380]:
import pandas as pd
path = './csvfiles/thinking21.csv'
df = pd.read_csv(path)
df.to_csv('thinking_data.csv')
thinking_data = pd.read_csv('thinking_data.csv', index_col=1, low_memory=False)

thinking_data.drop(thinking_data.columns[[0,17,18]], axis=1, inplace=True)
thinking_data.head()

,Epoch,F3,FC5,AF3,F7,T7,P7,O1,O2,P8,T8,F8,AF4,FC6,F4,Label
Time:256Hz,,,,,,,,,,,,,,,,
11.000000,0,4241.666504,4258.205078,4245.641113,4242.820312,4230.641113,4253.846191,4225.769043,4233.077148,4229.615234,4245.512695,4232.948730,4242.948730,4242.948730,4228.717773,goose
11.003906,0,4242.051270,4257.051270,4246.538574,4241.153809,4230.384766,4254.487305,4226.922852,4234.743652,4230.897461,4248.461426,4230.769043,4241.538574,4240.769043,4228.974121,goose
11.007812,0,4243.974121,4258.974121,4249.615234,4240.256348,4233.077148,4259.102539,4229.487305,4238.461426,4233.461426,4252.051270,4232.051270,4243.717773,4242.820312,4232.563965,goose
11.011719,0,4246.538574,4262.436035,4252.563965,4240.641113,4238.333496,4264.102539,4232.436035,4242.051270,4236.025879,4255.000000,4236.153809,4247.563965,4248.077148,4237.436035,goose
11.015625,0,4248.461426,4265.256348,4253.077148,4241.794922,4242.948730,4265.512695,4234.871582,4243.974121,4237.692383,4256.153809,4240.384766,4250.512695,4252.948730,4240.256348,goose

In [381]:
fleece_epoch = [7, 26, 37, 49, 69, 97, 81, 116, 141, 145]
goose_epoch = [0, 29, 35, 48, 67, 88, 98, 126, 136, 146]
trap_epoch = [8, 20, 33, 53, 68, 82, 110, 113, 138, 144]
thought_epoch = [1, 21, 44, 61, 73, 83, 111, 124, 142, 155]
m_epoch = [14, 25, 34, 62, 65, 85, 105, 121, 134, 152]
n_epoch = [5, 31, 45, 50, 77, 90, 109, 120, 128, 150]
ng_epoch = [10, 17, 42, 60, 64, 80, 107, 125, 137, 154]
f_epoch = [12, 30, 32, 57, 72, 84, 108, 119, 140, 147]
s_epoch = [9, 18, 46, 59, 79, 87, 106, 127, 130, 159]
sh_epoch = [4, 22, 43, 58, 66, 86, 104, 122, 129, 158]
v_epoch = [15, 16, 41, 52, 70, 91, 103, 115, 135, 156]
z_epoch = [13, 24, 36, 54, 76, 92, 102, 123, 139, 153]
zh_epoch = [2, 23, 47, 56, 78, 94, 96, 117, 143, 149]
p_epoch = [3, 28, 40, 63, 75, 89, 99, 118, 132, 151]
t_epoch = [11, 27, 38, 51, 74, 93, 100, 114, 131, 157]
k_epoch = [6, 19, 39, 55, 71, 95, 101, 112, 133, 148]

epoch_lists = [fleece_epoch, goose_epoch, trap_epoch, thought_epoch, m_epoch, n_epoch, 
               ng_epoch, f_epoch, s_epoch, sh_epoch, v_epoch, z_epoch, zh_epoch, p_epoch, 
              t_epoch, k_epoch]

In [382]:
import random
thinking_data5_testing = pd.DataFrame()

thinking_data_training = pd.read_csv(path, index_col=0)


for epoch_list in epoch_lists:
    random_num = random.sample(epoch_list, 2)
    #print(random_num)
    thinking_data2 = thinking_data.loc[thinking_data.Epoch == random_num[0]]
    thinking_data3 = thinking_data.loc[thinking_data.Epoch == random_num[1]]
    
    thinking_data_training.drop((thinking_data_training.loc[thinking_data_training.Epoch == random_num[0]]).index, inplace=True)
    thinking_data_training.drop((thinking_data_training.loc[thinking_data_training.Epoch == random_num[1]]).index, inplace=True)
        
    thinking_data4 = pd.concat([thinking_data2, thinking_data3])
    thinking_data5_testing = pd.concat([thinking_data5_testing, thinking_data4])
    
thinking_data5_testing.tail()

,Epoch,F3,FC5,AF3,F7,T7,P7,O1,O2,P8,T8,F8,AF4,FC6,F4,Label
Time:256Hz,,,,,,,,,,,,,,,,
2941.980469,133,4218.846191,4249.487305,4216.922852,4220.128418,4222.563965,4244.230957,4257.692383,4216.153809,4243.717773,4230.000000,4273.077148,4216.410156,4255.769043,4238.205078,k
2941.984375,133,4221.282227,4252.563965,4217.051270,4217.820312,4221.153809,4241.794922,4260.384766,4221.538574,4241.282227,4233.461426,4274.487305,4218.205078,4257.820312,4241.410156,k
2941.988281,133,4225.256348,4260.256348,4217.692383,4217.563965,4227.051270,4244.871582,4264.487305,4226.153809,4242.948730,4235.641113,4274.487305,4222.051270,4258.589844,4244.743652,k
2941.992188,133,4228.205078,4267.948730,4217.948730,4218.589844,4236.538574,4251.794922,4267.307617,4227.948730,4247.051270,4236.538574,4272.820312,4224.615234,4257.307617,4246.538574,k
2941.996094,133,4227.820312,4270.641113,4215.897461,4218.846191,4243.589844,4258.589844,4267.820312,4227.179688,4250.000000,4235.897461,4269.743652,4222.436035,4254.102539,4245.897461,k

In [383]:
thinking_data5_testing.head()

,Epoch,F3,FC5,AF3,F7,T7,P7,O1,O2,P8,T8,F8,AF4,FC6,F4,Label
Time:256Hz,,,,,,,,,,,,,,,,
1793.000000,81,4255.769043,4245.769043,4252.307617,4261.666504,4285.256348,4244.230957,4244.615234,4245.769043,4249.615234,4266.666504,4254.743652,4260.897461,4252.820312,4263.974121,fleece
1793.003906,81,4254.358887,4240.384766,4252.436035,4258.461426,4285.000000,4242.563965,4245.000000,4244.615234,4249.871582,4267.563965,4254.487305,4258.205078,4253.589844,4262.948730,fleece
1793.007812,81,4252.051270,4236.282227,4249.230957,4251.410156,4278.461426,4236.794922,4240.384766,4240.769043,4244.230957,4262.948730,4250.000000,4252.051270,4251.410156,4258.333496,fleece
1793.011719,81,4250.641113,4237.051270,4245.128418,4244.615234,4268.846191,4230.128418,4232.948730,4236.025879,4236.025879,4255.128418,4243.974121,4246.666504,4248.205078,4253.461426,fleece
1793.015625,81,4251.282227,4243.333496,4243.205078,4242.051270,4260.897461,4225.769043,4226.410156,4233.333496,4230.128418,4248.589844,4240.384766,4245.641113,4245.897461,4251.282227,fleece

In [384]:
thinking_data_training.tail()

,Epoch,F3,FC5,AF3,F7,T7,P7,O1,O2,P8,T8,F8,AF4,FC6,F4,Label,Stage,Flag
Time:256Hz,,,,,,,,,,,,,,,,,,
3513.980469,159,4233.077148,4243.974121,4224.743652,4232.820312,4265.512695,4231.794922,4236.666504,4240.000000,4227.820312,4222.563965,4230.128418,4219.487305,4257.179688,4247.307617,s,thinking,NaN
3513.984375,159,4235.641113,4242.051270,4229.358887,4233.205078,4270.256348,4231.025879,4240.897461,4241.794922,4230.000000,4222.179688,4231.025879,4222.051270,4259.743652,4251.666504,s,thinking,NaN
3513.988281,159,4239.743652,4242.692383,4236.922852,4233.846191,4273.333496,4229.358887,4242.948730,4242.692383,4232.948730,4224.230957,4233.717773,4226.153809,4263.974121,4254.871582,s,thinking,NaN
3513.992188,159,4242.948730,4246.025879,4243.974121,4234.743652,4275.641113,4227.820312,4242.307617,4241.794922,4234.230957,4227.051270,4237.307617,4229.230957,4266.922852,4255.769043,s,thinking,NaN
3513.996094,159,4244.615234,4249.871582,4247.820312,4236.282227,4278.333496,4227.563965,4240.000000,4239.487305,4233.461426,4229.615234,4240.128418,4229.615234,4267.436035,4255.256348,s,thinking,NaN

Events

In [385]:
thinking_events_testing = thinking_data5_testing.copy(deep=True)
thinking_events_testing.drop(thinking_events_testing.columns[[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]], axis=1, inplace=True)
thinking_events_testing['fleece']=''
thinking_events_testing['goose']=''
thinking_events_testing['trap']=''
thinking_events_testing['thought']=''
thinking_events_testing['m']=''
thinking_events_testing['n']=''
thinking_events_testing['ng']=''
thinking_events_testing['f']=''
thinking_events_testing['s']=''
thinking_events_testing['sh']=''
thinking_events_testing['v']=''
thinking_events_testing['z']=''
thinking_events_testing['zh']=''
thinking_events_testing['p']=''
thinking_events_testing['t']=''
thinking_events_testing['k']=''

thinking_events_testing.head()

              Label fleece goose trap thought m n ng f s sh v z zh p t k
Time:256Hz
1793.000000  fleece
1793.003906  fleece
1793.007812  fleece
1793.011719  fleece
1793.015625  fleece

In [386]:
#df.to_csv('thinking_events.csv')
#thinking_events = pd.read_csv('thinking_events.csv', index_col=1, low_memory=False)
thinking_events_training = thinking_data_training.copy(deep=True)
thinking_events_training.drop(thinking_events_training.columns[[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]], axis=1, inplace=True)
thinking_events_training.drop(thinking_events_training.columns[[1,2]], axis=1, inplace=True)
thinking_events_training['fleece']=''
thinking_events_training['goose']=''
thinking_events_training['trap']=''
thinking_events_training['thought']=''
thinking_events_training['m']=''
thinking_events_training['n']=''
thinking_events_training['ng']=''
thinking_events_training['f']=''
thinking_events_training['s']=''
thinking_events_training['sh']=''
thinking_events_training['v']=''
thinking_events_training['z']=''
thinking_events_training['zh']=''
thinking_events_training['p']=''
thinking_events_training['t']=''
thinking_events_training['k']=''

thinking_events_training.head()

            Label fleece goose trap thought m n ng f s sh v z zh p t k
Time:256Hz
11.000000   goose
11.003906   goose
11.007812   goose
11.011719   goose
11.015625   goose

In [387]:
label_list_testing = thinking_events_testing['Label'].to_list()
fleece_list_testing = []
goose_list_testing = []
trap_list_testing = []
thought_list_testing = []
m_list_testing = []
n_list_testing = []
ng_list_testing = []
f_list_testing = []
s_list_testing = []
sh_list_testing = []
v_list_testing = []
z_list_testing = []
zh_list_testing = []
p_list_testing = []
t_list_testing = []
k_list_testing = []

In [388]:
label_list_training = thinking_events_training['Label'].to_list()
fleece_list_training = []
goose_list_training = []
trap_list_training = []
thought_list_training = []
m_list_training = []
n_list_training = []
ng_list_training = []
f_list_training = []
s_list_training = []
sh_list_training = []
v_list_training = []
z_list_training = []
zh_list_training = []
p_list_training = []
t_list_training = []
k_list_training = []

In [389]:
labels = ['fleece', 'goose', 'trap', 'thought', 'm', 'n', 'ng', 'f', 's',
          'sh', 'v', 'z', 'zh', 'p', 't', 'k']

list_names_testing = [fleece_list_testing, goose_list_testing, trap_list_testing, thought_list_testing, 
              m_list_testing, n_list_testing, ng_list_testing, f_list_testing, 
              s_list_testing, sh_list_testing, v_list_testing, z_list_testing, 
              zh_list_testing, p_list_testing, t_list_testing, k_list_testing]
count = 0

for label in labels:
    for word in label_list_testing:
        if word == label:
            list_names_testing[count].append(1)
        else:
            list_names_testing[count].append(0)
    count = count+1

count = 0
for label in labels:
    thinking_events_testing[label]=list_names_testing[count]
    count=count+1

In [390]:
labels = ['fleece', 'goose', 'trap', 'thought', 'm', 'n', 'ng', 'f', 's',
          'sh', 'v', 'z', 'zh', 'p', 't', 'k']

list_names_training = [fleece_list_training, goose_list_training, trap_list_training, 
                       thought_list_training, m_list_training, n_list_training, 
                       ng_list_training, f_list_training, s_list_training, sh_list_training, 
                       v_list_training, z_list_training, zh_list_training, p_list_training, 
                       t_list_training, k_list_training]
count = 0

for label in labels:
    for word in label_list_training:
        if word == label:
            list_names_training[count].append(1)
        else:
            list_names_training[count].append(0)
    count = count+1

count = 0
for label in labels:
    thinking_events_training[label]=list_names_training[count]
    count=count+1

In [391]:
thinking_events_testing.head()

,Label,fleece,goose,trap,thought,m,n,ng,f,s,sh,v,z,zh,p,t,k
Time:256Hz,,,,,,,,,,,,,,,,,
1793.000000,fleece,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1793.003906,fleece,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1793.007812,fleece,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1793.011719,fleece,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1793.015625,fleece,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [392]:
thinking_events_testing.tail()

,Label,fleece,goose,trap,thought,m,n,ng,f,s,sh,v,z,zh,p,t,k
Time:256Hz,,,,,,,,,,,,,,,,,
2941.980469,k,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2941.984375,k,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2941.988281,k,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2941.992188,k,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2941.996094,k,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [393]:
thinking_events_training.drop(thinking_events_training.columns[0], axis=1, inplace=True)
thinking_events_training.head()

,fleece,goose,trap,thought,m,n,ng,f,s,sh,v,z,zh,p,t,k
Time:256Hz,,,,,,,,,,,,,,,,
11.000000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
11.003906,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
11.007812,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
11.011719,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
11.015625,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [394]:
thinking_events_testing.drop(thinking_events_testing.columns[0], axis=1, inplace=True)
thinking_events_testing.head()

,fleece,goose,trap,thought,m,n,ng,f,s,sh,v,z,zh,p,t,k
Time:256Hz,,,,,,,,,,,,,,,,
1793.000000,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1793.003906,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1793.007812,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1793.011719,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1793.015625,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [395]:
thinking_data5_testing.drop(thinking_data5_testing.columns[[0, 15]], axis=1, inplace=True)
thinking_data5_testing.head()

,F3,FC5,AF3,F7,T7,P7,O1,O2,P8,T8,F8,AF4,FC6,F4
Time:256Hz,,,,,,,,,,,,,,
1793.000000,4255.769043,4245.769043,4252.307617,4261.666504,4285.256348,4244.230957,4244.615234,4245.769043,4249.615234,4266.666504,4254.743652,4260.897461,4252.820312,4263.974121
1793.003906,4254.358887,4240.384766,4252.436035,4258.461426,4285.000000,4242.563965,4245.000000,4244.615234,4249.871582,4267.563965,4254.487305,4258.205078,4253.589844,4262.948730
1793.007812,4252.051270,4236.282227,4249.230957,4251.410156,4278.461426,4236.794922,4240.384766,4240.769043,4244.230957,4262.948730,4250.000000,4252.051270,4251.410156,4258.333496
1793.011719,4250.641113,4237.051270,4245.128418,4244.615234,4268.846191,4230.128418,4232.948730,4236.025879,4236.025879,4255.128418,4243.974121,4246.666504,4248.205078,4253.461426
1793.015625,4251.282227,4243.333496,4243.205078,4242.051270,4260.897461,4225.769043,4226.410156,4233.333496,4230.128418,4248.589844,4240.384766,4245.641113,4245.897461,4251.282227

In [396]:
thinking_data_training.drop(thinking_data_training.columns[[0, 15, 16, 17]], axis=1, inplace=True)
thinking_data_training.head()

,F3,FC5,AF3,F7,T7,P7,O1,O2,P8,T8,F8,AF4,FC6,F4
Time:256Hz,,,,,,,,,,,,,,
11.000000,4241.666504,4258.205078,4245.641113,4242.820312,4230.641113,4253.846191,4225.769043,4233.077148,4229.615234,4245.512695,4232.948730,4242.948730,4242.948730,4228.717773
11.003906,4242.051270,4257.051270,4246.538574,4241.153809,4230.384766,4254.487305,4226.922852,4234.743652,4230.897461,4248.461426,4230.769043,4241.538574,4240.769043,4228.974121
11.007812,4243.974121,4258.974121,4249.615234,4240.256348,4233.077148,4259.102539,4229.487305,4238.461426,4233.461426,4252.051270,4232.051270,4243.717773,4242.820312,4232.563965
11.011719,4246.538574,4262.436035,4252.563965,4240.641113,4238.333496,4264.102539,4232.436035,4242.051270,4236.025879,4255.000000,4236.153809,4247.563965,4248.077148,4237.436035
11.015625,4248.461426,4265.256348,4253.077148,4241.794922,4242.948730,4265.512695,4234.871582,4243.974121,4237.692383,4256.153809,4240.384766,4250.512695,4252.948730,4240.256348

In [397]:
thinking_data5_testing.to_csv('sub21_data_test.csv')
thinking_events_testing.to_csv('sub21_events_test.csv')
thinking_data_training.to_csv('sub21_data_train.csv')
thinking_events_training.to_csv('sub21_events_train.csv')